@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/*Clase para el sectionSlide*/
.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides{
  display: none;
}
.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4;}
  to{opacity: 1;}
}
/*Clases de react con tailwind*/
.App-header {
  background-image: url(../public/bannerHardstyle2.jpg);

}
  .fa {
    
    font-size: 50px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
  }
  
  .fa-facebook:hover {
    color: #0585da;
    opacity: 0.7;
  }
  .fa-instagram:hover {
    color: #e67e4e;
    opacity: 0.7;
  }
  .fa-twitter:hover {
    color: #1ab1f7;
    opacity: 0.9;
  }
  .fa-facebook {
    
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    
    color: white;
  }
  
  .fa-instagram {
    
    color: white;
  }
  .fa-linkedin {
    
    color: white;
  }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

}
@media (max-width:360px) {
  .fa {
    display: inline;
    
    font-size: 10px;
    
    width: 20px;
    align-self: auto;
    text-align: auto;
    text-decoration: none;
    
  }
}
